# BIOETest

In [4]:
import os
import pickle

from MotifFeatures.Labels.BIOELabel import minimal_matching_substring
from MotifFeatures.Labels.BIOELabel import BIOELabel

In [2]:
for text, substr in [
    ('the cat, in the hAt...', 'cat in the hat'),
    ('erica Janice Collins hamming', 'Janice Collins?'),
    ('I propose that we title our work "The Curious Incident of the Dog in the Nighttime". (1956).', 'dog in a the Nighttime'),
    ('My name is Carlos.', 'carlos'),
    ('hallie Ross, the animal queen', 'The Animal Queen'),
    ('All my friends are horses. Lets fly a kite.', 'Let\'s fly a kite.'),
    ('We all live in Nantucket, MA. How about you?', 'Nantucket, MA.')
]:
    start, stop = minimal_matching_substring(text, substr)
    if start is not None and stop is not None:
        print(substr + ' -> ' + text[start:stop])
    else:
        print('Could not find a match.')

cat in the hat -> cat, in the hAt
Janice Collins? -> Janice Collins
dog in a the Nighttime -> Dog in the Nighttime
carlos -> Carlos
The Animal Queen -> the animal queen
Could not find a match.
Nantucket, MA. -> Nantucket, MA

In [10]:
db_path = os.path.join('datasets', 'occ_45K_train.pickle')
with open(db_path, 'rb') as dbfile:
    db = pickle.load(dbfile)
db.head(2)

,raw,author,year,title
1,"Knechtle, B, Knechtle, P, Schulze, I, Kohler, ...","Knechtle, B.; Schulze, I.",2008,Ernährungsverhalten Bei Ultraläufern - Deutsch...
4,"Schooler, J. (2011). Unpublished results hide ...","Schooler, Jonathan",2011,Unpublished Results Hide The Decline Effect

In [17]:
def print_tags(row):
    """Print the BIOE tags that would be assigned to a row from a
    dataset.
    """
    authors_label = BIOELabel(row.raw, row.author.surnames())
    print()
    print('~ Authors ~')
    print('Raw: ' + row.raw)
    for tag, method in [
            ('B', authors_label.B_tags),
            ('I', authors_label.I_tags),
            ('O', authors_label.O_tags),
            ('E', authors_label.E_tags)]:
        print(tag + ':   ' + ''.join([str(round(num)) for num in method()]))
db.sample(5).apply(print_tags, axis=1)

~ Authors ~
Raw: Müller, V, et al;. Swiss HIV Cohort Study. 2006 Stable virulence levels in the HIV epidemic of Switzerland over two decades. AIDS 20, 889–894. (doi:10.1097/01.aids.0000218553.51908.6b) PMID: 16549973
B:   1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
I:   0111110000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
O:   0000001111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
E:   0000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

~ Authors ~
Raw: Cossart, P, Jonquières, R. Proc Natl Acad Sci, 2000, 97, 5013, PMID: 10805759
B:   10000000000000000000000000000000000000000000000000000000000000000000000000000
I:   01111110000000000000000000000000000000000000000000000000000000000000000000000
O:   00000001111111111111111111111111111111111111111111111111111111111111111111111
E:   00000001000000000000000000000000000000000000000000000000000000000000000000000

~ Authors ~
Raw: Baldassar, L, Merla, L. Transnational families, migration and the circulation of care: understanding mobility and absence in family life, 2014, New York, Routledge
B:   0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
I:   0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
O:   1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
E:   0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

~ Authors ~
Raw: Chan, PS, Schlueter, AE, Coussens, PM, Rosa, GJ, Haut, RC, Orth, MW. Gene expression profile of mechanically impacted bovine articular cartilage explants. J Orthop Res. 2005; 23: 1146-51. PMID: 16140194
B:   1000000000100000000000000100000000000001000000000100000000010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
I:   0111000000011111111000000011111110000000111000000011100000001110000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
O:   0000111111000000000111111000000001111110000111111000011111100001111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
E:   0000100000000000000100000000000001000000000100000000010000000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

~ Authors ~
Raw: Greenberg ER, Anderson GL, Morgan DR, et al. 14 day triple, 5-day concomitant, and 10-day sequential therapies for Helicobacter pylori infection in seven Latin American sites: a randomised trial. Lancet 2011; 378: 507-14. PMID: 21777974
B:   10000000000000100000000000010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
I:   01111111100000011111110000001111100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
O:   00000000011111000000001111100000011111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
E:   00000000010000000000001000000000010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

14959    None
30513    None
10768    None
15410    None
26388    None
dtype: object